.payment_card_div {
    height: 196px;
    width: 392px;
    /* border: 1px solid red; */
    display: flex;
}

.payment_card {
    height: 169px;
    width: 331px;
    border-radius: 10px;
    border: 1px solid var(--components-forms-input-border, #CED4DA);
    margin: 10px 0px 0px 20px;
    padding: 0px 0px 30px 0px;
}

.edit_button {
    height: 151px;
    width: 40px;
    /* border: 1px solid blue; */
    margin: 10px 0px 0px 10px;
}

.outline {
    border: 2px solid blue;
}