.shoping_bag_main {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

.shoping_bag {
    width: 900px;
    height: auto;
    /* display: flex; */
    /* border: 1px solid blue; */
    margin: 30px 0px 0px 40px;
}

.shoping_bag_text {
    color: var(--global-01-primary, #007BFF);

    /* Heading/H4 */
    /* font-family: Inter; */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    /* 120% */
}

.order_summary_div {
    width: 415px;
    height: 250px;
    /* border: 1px solid red; */
    margin: 100px 0px 0px 20px;

}